body {
    background-image: url('images/sunset.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /*font-family: "Lucida Handwriting";*/
    font-family: "Lucida Handwriting", 'Cedarville Cursive', cursive;
    text-align: center;
}

textarea {
    width: 250px;
    height: 100px;
}

.card {
    width: 50%;
    margin: 0 auto;
}  

@media (max-width: 576px) {
    #commentList{font-size: 12px;}
}